<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84498921870-dm67q5segk92c54hf2ti49g2smtvkpel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84498921870-dm67q5segk92c54hf2ti49g2smtvkpel</string>
	<key>API_KEY</key>
	<string>AIzaSyB2c_xrpDSK8WlPN2AjBJhAhymGrBkQJfo</string>
	<key>GCM_SENDER_ID</key>
	<string>84498921870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evijadigital.rated</string>
	<key>PROJECT_ID</key>
	<string>rated-4372a</string>
	<key>STORAGE_BUCKET</key>
	<string>rated-4372a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84498921870:ios:597f4376cadd62f1fa0cdf</string>
	<key>DATABASE_URL</key>
	<string>https://rated-4372a.firebaseio.com</string>
</dict>
</plist>